.classpath
.idea/
.project
.settings/
.vscode/
*.conll
*.iml
*.mrg
active/
out/
resources/db/fibo-ontology/
resources/fffs/pdf/
resources/markers-manual/wiktionary_situation-smaller.txt
target/
wiktionary/
